.aboutMeMain {
  max-width: var(--content-width);
  margin: auto;

  section > h2 {
    border-bottom: 1px solid var(--foreground);
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    background: var(--background);
  }
}

.portraitImg {
  max-height: 250px;
  object-fit: contain;
  border-radius: 1em;
  width: auto;
  margin-right: 1em;
}

.portraitFigure {
  align-self: center;
}

.introContainer {
  display: flex;
}

.conferenceImg {
  max-height: 250px;
  float: right;
  object-fit: contain;
  border-radius: 1em;
  width: auto;
}

.conferenceFigure {
  float: right;
  margin-left: 1em;
}

.aboutMeFigure {
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .aboutMeMain section > h2 {
    text-align: center;
  }

  .aboutMeHeading {
    text-align: center;
    margin: 0;
  }

  .aboutMeFigure {
    margin: 1em 0;
  }

  .introContainer {
    display: block;
  }

  .portraitFigure {
    justify-self: center;
  }

  .portraitImg {
    float: none;
    max-height: 300px;
    margin-right: 0px;
  }

  .conferenceImg {
    float: none;
    margin-left: 0px;
    height: auto;
    max-width: 100%;
    max-height: 400px;
  }

  .conferenceFigure {
    float: none;
    margin-left: 0px;
  }

  .imgContainer {
    display: flex;
    justify-content: center;
  }
}
