.navContainer {
  position: relative;
  z-index: var(--modal-action-z-index);
  display: flex;
  flex-direction: column;
}

.navItemContainer {
  border-top: 1px solid var(--foreground);
}

.navLink {
  text-decoration: none;
  background-color: transparent;
  font-size: var(--fontsize-h4);
  padding: 1em;

  &:hover {
    text-decoration: underline;
  }
}

.socialOuter {
  padding: var(--fontsize-normal) var(--fontsize-h4);
}

.socialInner {
  display: flex;
  gap: 25px;
}

.socialButton {
  box-shadow: 3px 3px var(--foreground);
  border: 1px solid var(--foreground);
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.socialButtonRound {
  border-radius: 50%;
}

.socialButtonPressed {
  transform: translate(3px, 3px);
  box-shadow: none;
}

@media (min-width: 1000px) {
  .navContainer {
    display: none;
  }
}
