.articleOuter {
  all: unset;
  cursor: pointer;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  gap: 2em;
  transition: transform 0.1s ease-in-out;
  background-color: var(--button-background);

  &:hover {
    background-color: var(--button-background);
    box-shadow: 0px 0px 10px 5px var(--button-background-hover);
    transform: scale(1.02);

    .articleTitle {
      text-decoration: underline;
    }
  }
}

.articleImgContainer {
  flex: 0 0 250px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  overflow: clip;
}

.articleImg {
  width: 100%;
  height: auto;
}

.articleImgDecorator {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background-color: var(--blog-pink);
  width: 100%;
}

.articleInner {
  display: flex;
  flex-direction: column;
}

.articleMetadata {
  display: flex;
  gap: 1em;
  align-items: center;
  line-height: var(--fontsize-small);
  font-size: var(--fontsize-small);
}

.articleDate {
  color: var(--blog-red);
  font-weight: bold;
}

.articleTitle {
  text-underline-offset: 0.15em;
  font-weight: normal;
  margin: 0.5em 0 0.75em 0;
}

.articleDescription {
  margin: 0;
  color: var(--deemphasized-text);
}

@media screen and (max-width: 1000px) {
  .articleOuter {
    flex-direction: column;
  }

  .articleImgContainer {
    flex-basis: 200px;
    max-height: 200px;
  }

  .articleImg {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
}
