.blogArticleOuter {
  max-width: var(--content-width);
  margin: auto;
  flex-direction: column;
}

.featuredImgContainer {
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: clip;
}

.featuredImg {
  width: 100%;
  height: auto;
}

.featuredImgDecorator {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  background-color: var(--blog-pink);
  width: 100%;
}

.articleMetadata {
  margin: 1em 0;
  font-size: var(--fontsize-small);
}

.dateAndReadTime {
  display: flex;
  margin: 1em 0;
  gap: 1em;
}

.articleTitle {
  text-underline-offset: 0.15em;
  font-weight: normal;
  margin: 0.25em 0 0 0;
}

.articleExcerpt {
  color: var(--deemphasized-text);
  margin: 0.5em 0 1em 0;

  p {
    margin: 0;
    line-height: 1.5em;
  }

  li {
    margin: 0.25em;
    line-height: 1.25em;
  }

  ul {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}

.authorName {
  margin-block-start: 1em;
  margin-block-end: 1em;
}
