.blogArticleOuter {
  max-width: var(--content-width);
  margin: auto;
  flex-direction: column;
}

.contentOuter {
  margin: auto;
  max-width: var(--content-width);
}

.contentInner {
  font-size: var(--fontsize-normal);
}

.featuredImgContainer {
  position: relative;
  width: 100%;
  height: 320px;
  border-radius: 20px;
  overflow: clip;
}

.featuredImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuredImgDecorator {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  background-color: var(--blog-pink);
  width: 100%;
}

.articleExcerpt {
  color: var(--deemphasized-text);

  li {
    margin: 0.5em;
    line-height: 1.25em;
  }
}
