.blogHeader {
  margin: auto;
  max-width: var(--desktop-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: var(--modal-action-z-index);
  position: relative;
  background-color: var(--background);
}

.headerTitle {
  display: flex;
  gap: 10px;
  align-items: center;
}

.headerTitleText {
  font-size: var(--fontsize-h4);
  font-weight: 700;
}

.headerTextDeemphasized {
  font-weight: 400;
}

.headerAvatar {
  height: clamp(65px, calc(100vh * 0.1), 95px);
}
