.navigationContainer {
  display: flex;
  justify-content: space-between;
  font-size: var(--fontsize-normal);
  gap: 1em;
}

.serverContainer {
  padding-right: 10px;
  gap: 1em;
  display: flex;
}

.mobileButtonContainer {
  display: none;
}

.navigationList {
  display: flex;
  align-items: center;
}

.navigationOption {
  display: inline-block;
  margin: 0 0.5em;

  a {
    text-decoration: none;
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }
  }
}

.socialContainer {
  display: flex;
  align-items: center;
}

.socialButton {
  box-shadow: 3px 3px var(--foreground);
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.socialButtonPressed {
  transform: translate(3px, 3px);
  box-shadow: none;
}

@media (max-width: 1000px) {
  .serverContainer {
    display: none;
  }

  .mobileButtonContainer {
    display: block;
  }
}
