.frontPageOuter {
  --desktop-outer-height: 70vh;
  --desktop-max-height: none;

  --mobile-outer-height: 60vh;
  --mobile-max-height: 400px;

  display: flex;
  height: var(--desktop-outer-height);
  max-height: var(--desktop-max-height);

  &.embedded {
    justify-content: center;
    height: var(--mobile-outer-height);
    max-height: var(--mobile-max-height);
  }
}

.frontPageInner {
  --desktop-fp-inner-flex-shrink: 0.67;
  --mobile-fp-inner-flex-shrink: 1;

  position: relative;
  flex-shrink: var(--desktop-fp-inner-flex-shrink);

  &.embedded {
    flex-shrink: var(--mobile-fp-inner-flex-shrink);
  }
}

.frontPageBackground {
  width: 100%;
  height: 100%;
}

.lottieContainer {
  --desktop-lottie-height: 58%;
  --desktop-lottie-width: 35%;
  --desktop-lottie-left: 3%;

  --mobile-lottie-height: 95%;
  --mobile-lottie-width: 75%;
  --mobile-lottie-left: 18%;

  position: absolute;
  bottom: 3%;

  height: var(--desktop-lottie-height);
  width: var(--desktop-lottie-width);
  left: var(--desktop-lottie-left);

  &.embedded {
    height: var(--mobile-lottie-height);
    width: var(--mobile-lottie-width);
    left: var(--mobile-lottie-left);
  }
}

.chairContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.screenCanvas {
  --desktop-screen-width: 25%;
  --desktop-screen-height: 25%;
  --desktop-screen-bottom: 38%;
  --desktop-screen-left: 14%;

  --mobile-screen-width: 50%;
  --mobile-screen-height: 30%;
  --mobile-screen-bottom: 58%;
  --mobile-screen-left: 28%;

  position: absolute;

  width: var(--desktop-screen-width);
  height: var(--desktop-screen-height);
  bottom: var(--desktop-screen-bottom);
  left: var(--desktop-screen-left);

  &.embedded {
    width: var(--mobile-screen-width);
    height: var(--mobile-screen-height);
    bottom: var(--mobile-screen-bottom);
    left: var(--mobile-screen-left);
  }
}

@media screen and (max-width: 1000px) {
  .frontPageOuter {
    height: 60vh;
    max-height: 400px;
  }

  .frontPageInner {
    flex-shrink: var(--mobile-fp-inner-flex-shrink);
  }

  .lottieContainer {
    height: var(--mobile-lottie-height);
    width: var(--mobile-lottie-width);
    left: var(--mobile-lottie-left);
  }

  .screenCanvas {
    width: var(--mobile-screen-width);
    height: var(--mobile-screen-height);
    bottom: var(--mobile-screen-bottom);
    left: var(--mobile-screen-left);
  }
}
