.frontPageOuter {
  display: flex;
  height: 70vh;
}

.frontPageInner {
  position: relative;
  flex-shrink: 0.67;
}

.frontPageBackground {
  width: 100%;
  height: 100%;
}

.lottieContainer {
  position: absolute;
  width: 35%;
  height: 58%;
  bottom: 3%;
  left: 7%;
}

.chairContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.screenCanvas {
  position: absolute;
  width: 25%;
  height: 25%;
  bottom: 38%;
  left: 14%;
}

@media screen and (max-width: 1000px) {
  .frontPageOuter {
    height: 60vh;
    max-height: 400px;
  }

  .frontPageInner {
    flex-shrink: 1;
  }

  .frontPageImg {
    width: 100%;
    height: unset;
  }

  .lottieContainer {
    height: 95%;
    width: 75%;
    left: 18%;
  }

  .screenCanvas {
    width: 50%;
    height: 30%;
    bottom: 58%;
    left: 28%;
  }
}
