:root {
  --background: #FAF9F5;
  --foreground: #434343;
  --blog-orange:#F15A24;
  --blog-yellow: #FFE800;
  --blog-pink: #DC1D88;
  --blog-purple: #B779FF;
  --blog-blue: #1FD7F0;
  --blog-green: #5FC323;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
