:root {
  /** Screen Sizes **/
  --wide-size: 1200px;
  --content-size: 800px;

  /** Colors **/
  --background: #FAF9F5;
  --foreground: #222222;
  --blog-orange:#F15A24;
  --blog-yellow: #FFE800;
  --blog-pink: #DC1D88;
  --blog-purple: #B779FF;
  --blog-blue: #1FD7F0;
  --blog-green: #5FC323;
  --link-background: #ececec;
  --link-background-hover: #dbdbdb;
  --link-text-hover: #111111;

  /** Screen Widths **/
  --desktop-width: 1500px;
  --content-size: 800px;

  /** Font Sizes **/
  --fontsize-h1: 3.732rem;
  --fontsize-h2: 3.11rem;
  --fontsize-h3: 2.592rem;
  --fontsize-h4: 2.16rem;
  --fontsize-h5: 1.8rem;
  --fontsize-h6: 1.5rem;
  --fontsize-large: 1.5rem;
  --fontsize-normal: 1.25rem;
  --fontsize-small: 1.04rem;

  /** Modals **/
  --modal-overlay-z-index: 999;
  --modal-action-z-index: 1000;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  max-width: var(--desktop-width);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: var(--fontsize-h1);
}

h2 {
  font-size: var(--fontsize-h2);
}

h3 {
  font-size: var(--fontsize-h3);
}

h4 {
  font-size: var(--fontsize-h4);
}

h5 {
  font-size: var(--fontsize-h5);
}

h6 {
  font-size: var(--fontsize-h6);
}

p {
  font-size: var(--fontsize-normal);
}

a {
  color: var(--foreground);
  text-underline-offset: 0.125em;
  background-color: var(--link-background);
  padding: 0.125em 0.25em;

  &:hover {
    background-color: var(--link-background-hover);
    color: var(--link-text-hover);
  }
}

button {
  border-radius: 10%;
  cursor: pointer;
}

button.light {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--foreground);
}

.small-text {
  font-size: var(--fontsize-small);
}

.large-text {
  font-size: var(--fontsize-large);
}

.modal-overlay {
  background-color: var(--background);
  position: fixed;
  inset: 0;
  z-index: var(--modal-overlay-z-index);
}