.outerContainer {
  display: flex;
  gap: 3em;
}

.headlinesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;

  /* Desktop Styling */
  margin-top: 7em;
  display: flex;

  h2,
  p {
    margin: 0;
  }
}

.headlinesButton {
  margin-top: 2em;
}

@media screen and (max-width: 1000px) {
  .outerContainer {
    gap: 1em;
    flex-direction: column;
    align-items: center;
  }

  .headlinesContainer {
    /* mobile styling */
    margin-top: 0;
    align-items: center;
    gap: 5px;

    h2 {
      font-size: var(--fontsize-h3);
    }
  }

  .headlinesButton {
    margin-top: 1em;
  }
}
