.outerContainer {
  display: flex;
  gap: 3em;
}

.headlinesContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.headlinesDesktop {
  margin-top: 7em;
  display: flex;
}

.headlinesMobile {
  display: none;
}

@media screen and (max-width: 820px) {
  .outerContainer {
    flex-direction: column;
  }

  .headlinesDesktop {
    display: none;
  }

  .headlinesMobile {
    display: block;
  }
}
