.outerGrid {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 75px 1fr;
  grid-template-areas:
    "logo title"
    ". description"
    ". tech";
  margin-bottom: 3rem;
}

.logoContainer {
  grid-area: logo;
  display: flex;
  height: 70px;
  width: 70px;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--foreground);
  border-radius: 50%;
}

.logoImg {
  height: 45px;
  width: 45px;
}

.titleContainer {
  grid-area: title;

  p {
    margin: 0.25em 0;
    line-height: var(--fontsize-normal);
    font-size: var(--fontsize-small);
    font-style: italic;
  }

  p.companyName {
    margin-top: 0.25em;
    font-weight: 500;
    font-style: normal;
    font-size: var(--fontsize-normal);
  }
}

.title {
  margin: 0;
  font-size: var(--fontsize-h5);
}

.jobDescription {
  grid-area: description;

  li::marker {
    font-weight: 500;
  }
}
