.outerGrid {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 75px 1fr;
  grid-template-areas:
    "logo title"
    ". description"
    ". tech";
}

.logoContainer {
  grid-area: logo;
  display: flex;
  height: 70px;
  width: 70px;
  align-items: center;
  justify-content: center;
  border: 5px solid red;
  border-radius: 50%;
}

.logoImg {
  height: 45px;
  width: 45px;
}

.titleContainer {
  grid-area: title;
}

.title {
  margin: calc(45px - 1em) 0 0.5em 0;
  font-size: var(--fontsize-h5);
}
