.blogHeader {
    margin: auto;
    max-width: var(--desktop-width);
    border-bottom: 1px solid var(--foreground);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    display: flex;
    gap: 10px;
    align-items: center;
}

.headerTitleText {
    font-size: var(--fontsize-h4);
    font-weight: 700;
}

.headerTextDeemphasized {
    font-weight: 400;
}