.blogHeader {
    margin: auto;
    max-width: var(--desktop-width);
    border-bottom: 1px solid var(--foreground);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    display: flex;
    gap: 10px;
    align-items: center;
}

.headerTitleText {
    font-size: var(--fontsize-h3);
    font-weight: 700;
}

.headerTextDeemphasized {
    font-weight: 400;
}

.headerNav {
    ul {
        display: flex;
        align-items: center;
    }

    li {
        display: inline-block;
        margin: 0 0.5em;
        font-size: var(--fontsize-large);
    }
}