/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.frontPageOuter {
	display: flex;
	height: 70vh;
}

.frontPageInner {
	position: relative;
}

.frontPageImg {
	width: unset;
	height: 100%;
}

@media screen and (max-width: 1000px) {
	.frontPageOuter {
		height: unset;
	}

	.frontPageImg {
		width: 100%;
		height: unset;
	}
}
