.navigationContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fontsize-normal);
    gap: 1em; 
}

.navigationList {
    display: flex;
    align-items: center;
}

.navigationOption {
    display: inline-block;
    margin: 0 0.5em;

    a {
        text-decoration: none;
        background-color: transparent;

        &:hover {
            text-decoration: underline;
        }
    }
}

.navigationSocial {
    background-color: transparent;
    padding: 0;

    &:hover {
        opacity: 0.8;
        background-color: transparent;
    }
}